# How social media influence on our lives

##### Made by: Pavlo Kukurik, Sviatoslav Sharak

In [2]:
import pandas as pd

df = pd.read_csv('dummy_data.csv', sep=',')

df

,age,gender,time_spent,platform,interests,location,demographics,profession,income,indebt,isHomeOwner,Owns_Car
0,56,male,3,Instagram,Sports,United Kingdom,Urban,Software Engineer,19774,True,False,False
1,46,female,2,Facebook,Travel,United Kingdom,Urban,Student,10564,True,True,True
2,32,male,8,Instagram,Sports,Australia,Sub_Urban,Marketer Manager,13258,False,False,False
3,60,non-binary,5,Instagram,Travel,United Kingdom,Urban,Student,12500,False,True,False
4,25,male,1,Instagram,Lifestlye,Australia,Urban,Software Engineer,14566,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,female,8,Instagram,Lifestlye,United Kingdom,Rural,Marketer Manager,18536,False,True,False
996,40,non-binary,6,YouTube,Travel,United Kingdom,Rural,Software Engineer,12711,True,False,False
997,27,non-binary,5,YouTube,Travel,United Kingdom,Rural,Student,17595,True,False,True
998,61,female,4,YouTube,Sports,Australia,Sub_Urban,Marketer Manager,16273,True,True,False
999,19,female,8,YouTube,Travel,Australia,Rural,Student,16284,False,True,False

In [3]:
df.describe()

               age   time_spent        income
count  1000.000000  1000.000000   1000.000000
mean     40.986000     5.029000  15014.823000
std      13.497852     2.537834   2958.628221
min      18.000000     1.000000  10012.000000
25%      29.000000     3.000000  12402.250000
50%      42.000000     5.000000  14904.500000
75%      52.000000     7.000000  17674.250000
max      64.000000     9.000000  19980.000000